.ant-btn-check {
    color: #00b706;
    border-color: #00b706;
    background-color: transparent;
}

.ant-btn-check:hover {
    color: #02720582 !important;
    border-color: #02720582 !important;
    background-color: #00b70600 !important;
}

.ant-upload {
    width: 100% !important;
}

.ant-btn-delete {
    color: #290000;
    border-color: #290000;
}

.ant-btn-delete:hover {
    color: #2900005d !important;
    border-color: #2900005d !important;
}

@media (max-width: 1400px) {
    .btn-text {
        display: none !important;  /* 隐藏文本 */
    }
}

.ant-btn-beChosen {
    color: #000000;
    border-color: #287a0f87;
    background-color: #34af0f58;
}

.ant-btn-notChosen {
    color: #000000;
    border-color: transparent;
    background-color: transparent;
    border: 1px dashed ;
}

.ant-btn-none {
    display: none !important; 
}

.ant-btn-action {
    color: #303a84;
    border-color: #303a84;
}

.ant-btn-action:hover {
    color: #2026546f !important;
    border-color: #2026546f !important;
}

.ant-btn-all_gpt {
    color: #c71919;
    border-color: #c71919;
}

.ant-btn-all_gpt:hover {
    color: #c7191942 !important;
    border-color: #c7191948 !important;
}

.ant-btn-delete {
    color: #c71919;
    border-color: #c71919;
}

.ant-btn-delete:hover {
    color: #c7191942 !important;
    border-color: #c7191948 !important;
}

.ant-btn-icon {
    border: transparent;
    display: flex;
    justify-content: center;
}


.ant-btn-store {
    border-color: #43a546;
    color:#43a546;
    
    font-weight: bold
}

.ant-btn-store:hover {
    color: white !important;
    background-color: #43a546;
    
    font-weight: bold
}

.ant-btn-uploadFile:hover {
    border: #000000 !important;
    color: black !important;
}

.p-current-dele:hover {
    text-decoration: line-through;
    background-color: #0c0c0c18;
    font-size: 1.2rem;
    cursor: pointer;
    overflow: visible;  
    text-overflow: clip; 

    transition: 0.4s;
}

.p-current-dele {
    border: 1px solid #00000024;
    padding: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    transition: 0.4s;
}

.switch-checkedAll {
    background: #3a3c4f19 !important;
}

.ant-switch-inner-unchecked {
    color:rgb(0, 0, 0) !important;
}

.ant-switch.switch-checkedAll.ant-switch-checked {
    background: #268a2dc0 !important;
}
