.ant-btn-check {
    color: #00b706;
    border-color: #00b706;
    background-color: transparent;
}

.ant-btn-check:hover {
    color: #02720582 !important;
    border-color: #02720582 !important;
    background-color: #00b70600 !important;
}

.ant-upload {
    width: 100% !important;
}

.ant-btn-delete {
    color: #290000;
    border-color: #290000;
}

.ant-btn-delete:hover {
    color: #2900005d !important;
    border-color: #2900005d !important;
}

@media (max-width: 1400px) {
    .btn-text {
        display: none !important;  /* 隐藏文本 */
    }
}
  

.ant-btn-beChosen {
    color: #000000;
    border-color: #287a0f87;
    background-color: #34af0f58;
}

.ant-btn-notChosen {
    color: #000000;
    border-color: transparent;
    background-color: transparent;
    border: 1px dashed ;
}

.ant-btn-action {
    color: #303a84;
    border-color: #303a84;
}

.ant-btn-action:hover {
    color: #2026546f !important;
    border-color: #2026546f !important;
}

.ant-btn-all_gpt {
    color: #c71919;
    border-color: #c71919;
}

.ant-btn-all_gpt:hover {
    color: #c7191942 !important;
    border-color: #c7191948 !important;
}

.ant-btn-delete {
    color: #c71919;
    border-color: #c71919;
}

.ant-btn-delete:hover {
    color: #c7191942 !important;
    border-color: #c7191948 !important;
}